@charset "UTF-8";

/* Some basic styles... */
html, body {
	margin: 0;
	padding: 0;
	background: white;
	color: black;
}
img, a img {
	border: 0;
}
h1 {
	margin: 0;
}


/* Main layout */
#topbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 36px;

	/* Someday... Improve this styling... */
	background: #C6C6C6;
	border-color: #EEE #555 #555 #EEE;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	-moz-border-radius: 8px;
}
#pagebody{
	position: absolute;
	top: 38px;
	right: 0;
	bottom: 0;
	left: 0;
}
#leftcolumn {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 200px;
}

#rightcolumn {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 200px;
}


/* Top bar elements */
#topbar .pagetitle {
	font: inherit;
	font-family: "Geo", sans-serif;
	font-size: 36px;
	line-height: 1em;
	margin: 0 0 0 4px;
	padding: 0;
	text-align: left;
}


/* Left column elements */
#map_view_style fieldset label {
	display: block;
}
#map_view_style fieldset input[type=number] {
	width: 4em;
}
#map_view_style fieldset input[type=range] {
	width: 6em;
}


/* Map Grid */
#main_grid {
	/* Just to take the simple_tab_body padding into account when positioning the grid.*/
	position: relative;
}
table.grid {
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px solid black;
	padding: 0;
}
table.grid > tbody > tr > td {
	border: 1px solid black;
	padding: 0;
	width: 32px;
	height: 32px;

	text-align: center;
	vertical-align: middle;
}


/* The Import/Export tab */
#import_export_textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	min-height: 5em;
	height: 90%;
	height: calc(100% - 2em);
	height: -moz-calc(100% - 3em);
	/* Ah... Someday calc() will be a standard... */
	/* http://www.w3.org/TR/css3-values/#calc */

	margin: 0;
}

