@charset "UTF-8";

#maingrid {
	border: 4px ridge #F88;
}

table.grid {
	table-layout: fixed;
	border-collapse: collapse;
	border: 2px solid black;
	padding: 0;
}
table.grid > tbody > tr > td {
	border: 1px solid black;
	padding: 0;
	width: 16px;
	height: 16px;
}
