@charset "UTF-8";

.tile {
    background-image: url("minecraft_jar/terrain.png");
    background-repeat: no-repeat;
}

.tile.t0 { background-position: -0px -0px; }
.tile.t1 { background-position: -16px -0px; }
.tile.t2 { background-position: -32px -0px; }
.tile.t3 { background-position: -48px -0px; }
.tile.t4 { background-position: -64px -0px; }
.tile.t5 { background-position: -80px -0px; }
.tile.t6 { background-position: -96px -0px; }
.tile.t7 { background-position: -112px -0px; }
.tile.t8 { background-position: -128px -0px; }
.tile.t9 { background-position: -144px -0px; }
.tile.t10 { background-position: -160px -0px; }
.tile.t11 { background-position: -176px -0px; }
.tile.t12 { background-position: -192px -0px; }
.tile.t13 { background-position: -208px -0px; }
.tile.t14 { background-position: -224px -0px; }
.tile.t15 { background-position: -240px -0px; }
.tile.t16 { background-position: -0px -16px; }
.tile.t17 { background-position: -16px -16px; }
.tile.t18 { background-position: -32px -16px; }
.tile.t19 { background-position: -48px -16px; }
.tile.t20 { background-position: -64px -16px; }
.tile.t21 { background-position: -80px -16px; }
.tile.t22 { background-position: -96px -16px; }
.tile.t23 { background-position: -112px -16px; }
.tile.t24 { background-position: -128px -16px; }
.tile.t25 { background-position: -144px -16px; }
.tile.t26 { background-position: -160px -16px; }
.tile.t27 { background-position: -176px -16px; }
.tile.t28 { background-position: -192px -16px; }
.tile.t29 { background-position: -208px -16px; }
.tile.t30 { background-position: -224px -16px; }
.tile.t31 { background-position: -240px -16px; }
.tile.t32 { background-position: -0px -32px; }
.tile.t33 { background-position: -16px -32px; }
.tile.t34 { background-position: -32px -32px; }
.tile.t35 { background-position: -48px -32px; }
.tile.t36 { background-position: -64px -32px; }
.tile.t37 { background-position: -80px -32px; }
.tile.t38 { background-position: -96px -32px; }
.tile.t39 { background-position: -112px -32px; }
.tile.t40 { background-position: -128px -32px; }
.tile.t41 { background-position: -144px -32px; }
.tile.t42 { background-position: -160px -32px; }
.tile.t43 { background-position: -176px -32px; }
.tile.t44 { background-position: -192px -32px; }
.tile.t45 { background-position: -208px -32px; }
.tile.t46 { background-position: -224px -32px; }
.tile.t47 { background-position: -240px -32px; }
.tile.t48 { background-position: -0px -48px; }
.tile.t49 { background-position: -16px -48px; }
.tile.t50 { background-position: -32px -48px; }
.tile.t51 { background-position: -48px -48px; }
.tile.t52 { background-position: -64px -48px; }
.tile.t53 { background-position: -80px -48px; }
.tile.t54 { background-position: -96px -48px; }
.tile.t55 { background-position: -112px -48px; }
.tile.t56 { background-position: -128px -48px; }
.tile.t57 { background-position: -144px -48px; }
.tile.t58 { background-position: -160px -48px; }
.tile.t59 { background-position: -176px -48px; }
.tile.t60 { background-position: -192px -48px; }
.tile.t61 { background-position: -208px -48px; }
.tile.t62 { background-position: -224px -48px; }
.tile.t63 { background-position: -240px -48px; }
.tile.t64 { background-position: -0px -64px; }
.tile.t65 { background-position: -16px -64px; }
.tile.t66 { background-position: -32px -64px; }
.tile.t67 { background-position: -48px -64px; }
.tile.t68 { background-position: -64px -64px; }
.tile.t69 { background-position: -80px -64px; }
.tile.t70 { background-position: -96px -64px; }
.tile.t71 { background-position: -112px -64px; }
.tile.t72 { background-position: -128px -64px; }
.tile.t73 { background-position: -144px -64px; }
.tile.t74 { background-position: -160px -64px; }
.tile.t75 { background-position: -176px -64px; }
.tile.t76 { background-position: -192px -64px; }
.tile.t77 { background-position: -208px -64px; }
.tile.t78 { background-position: -224px -64px; }
.tile.t79 { background-position: -240px -64px; }
.tile.t80 { background-position: -0px -80px; }
.tile.t81 { background-position: -16px -80px; }
.tile.t82 { background-position: -32px -80px; }
.tile.t83 { background-position: -48px -80px; }
.tile.t84 { background-position: -64px -80px; }
.tile.t85 { background-position: -80px -80px; }
.tile.t86 { background-position: -96px -80px; }
.tile.t87 { background-position: -112px -80px; }
.tile.t88 { background-position: -128px -80px; }
.tile.t89 { background-position: -144px -80px; }
.tile.t90 { background-position: -160px -80px; }
.tile.t91 { background-position: -176px -80px; }
.tile.t92 { background-position: -192px -80px; }
.tile.t93 { background-position: -208px -80px; }
.tile.t94 { background-position: -224px -80px; }
.tile.t95 { background-position: -240px -80px; }
.tile.t96 { background-position: -0px -96px; }
.tile.t97 { background-position: -16px -96px; }
.tile.t98 { background-position: -32px -96px; }
.tile.t99 { background-position: -48px -96px; }
.tile.t100 { background-position: -64px -96px; }
.tile.t101 { background-position: -80px -96px; }
.tile.t102 { background-position: -96px -96px; }
.tile.t103 { background-position: -112px -96px; }
.tile.t104 { background-position: -128px -96px; }
.tile.t105 { background-position: -144px -96px; }
.tile.t106 { background-position: -160px -96px; }
.tile.t107 { background-position: -176px -96px; }
.tile.t108 { background-position: -192px -96px; }
.tile.t109 { background-position: -208px -96px; }
.tile.t110 { background-position: -224px -96px; }
.tile.t111 { background-position: -240px -96px; }
.tile.t112 { background-position: -0px -112px; }
.tile.t113 { background-position: -16px -112px; }
.tile.t114 { background-position: -32px -112px; }
.tile.t115 { background-position: -48px -112px; }
.tile.t116 { background-position: -64px -112px; }
.tile.t117 { background-position: -80px -112px; }
.tile.t118 { background-position: -96px -112px; }
.tile.t119 { background-position: -112px -112px; }
.tile.t120 { background-position: -128px -112px; }
.tile.t121 { background-position: -144px -112px; }
.tile.t122 { background-position: -160px -112px; }
.tile.t123 { background-position: -176px -112px; }
.tile.t124 { background-position: -192px -112px; }
.tile.t125 { background-position: -208px -112px; }
.tile.t126 { background-position: -224px -112px; }
.tile.t127 { background-position: -240px -112px; }
.tile.t128 { background-position: -0px -128px; }
.tile.t129 { background-position: -16px -128px; }
.tile.t130 { background-position: -32px -128px; }
.tile.t131 { background-position: -48px -128px; }
.tile.t132 { background-position: -64px -128px; }
.tile.t133 { background-position: -80px -128px; }
.tile.t134 { background-position: -96px -128px; }
.tile.t135 { background-position: -112px -128px; }
.tile.t136 { background-position: -128px -128px; }
.tile.t137 { background-position: -144px -128px; }
.tile.t138 { background-position: -160px -128px; }
.tile.t139 { background-position: -176px -128px; }
.tile.t140 { background-position: -192px -128px; }
.tile.t141 { background-position: -208px -128px; }
.tile.t142 { background-position: -224px -128px; }
.tile.t143 { background-position: -240px -128px; }
.tile.t144 { background-position: -0px -144px; }
.tile.t145 { background-position: -16px -144px; }
.tile.t146 { background-position: -32px -144px; }
.tile.t147 { background-position: -48px -144px; }
.tile.t148 { background-position: -64px -144px; }
.tile.t149 { background-position: -80px -144px; }
.tile.t150 { background-position: -96px -144px; }
.tile.t151 { background-position: -112px -144px; }
.tile.t152 { background-position: -128px -144px; }
.tile.t153 { background-position: -144px -144px; }
.tile.t154 { background-position: -160px -144px; }
.tile.t155 { background-position: -176px -144px; }
.tile.t156 { background-position: -192px -144px; }
.tile.t157 { background-position: -208px -144px; }
.tile.t158 { background-position: -224px -144px; }
.tile.t159 { background-position: -240px -144px; }
.tile.t160 { background-position: -0px -160px; }
.tile.t161 { background-position: -16px -160px; }
.tile.t162 { background-position: -32px -160px; }
.tile.t163 { background-position: -48px -160px; }
.tile.t164 { background-position: -64px -160px; }
.tile.t165 { background-position: -80px -160px; }
.tile.t166 { background-position: -96px -160px; }
.tile.t167 { background-position: -112px -160px; }
.tile.t168 { background-position: -128px -160px; }
.tile.t169 { background-position: -144px -160px; }
.tile.t170 { background-position: -160px -160px; }
.tile.t171 { background-position: -176px -160px; }
.tile.t172 { background-position: -192px -160px; }
.tile.t173 { background-position: -208px -160px; }
.tile.t174 { background-position: -224px -160px; }
.tile.t175 { background-position: -240px -160px; }
.tile.t176 { background-position: -0px -176px; }
.tile.t177 { background-position: -16px -176px; }
.tile.t178 { background-position: -32px -176px; }
.tile.t179 { background-position: -48px -176px; }
.tile.t180 { background-position: -64px -176px; }
.tile.t181 { background-position: -80px -176px; }
.tile.t182 { background-position: -96px -176px; }
.tile.t183 { background-position: -112px -176px; }
.tile.t184 { background-position: -128px -176px; }
.tile.t185 { background-position: -144px -176px; }
.tile.t186 { background-position: -160px -176px; }
.tile.t187 { background-position: -176px -176px; }
.tile.t188 { background-position: -192px -176px; }
.tile.t189 { background-position: -208px -176px; }
.tile.t190 { background-position: -224px -176px; }
.tile.t191 { background-position: -240px -176px; }
.tile.t192 { background-position: -0px -192px; }
.tile.t193 { background-position: -16px -192px; }
.tile.t194 { background-position: -32px -192px; }
.tile.t195 { background-position: -48px -192px; }
.tile.t196 { background-position: -64px -192px; }
.tile.t197 { background-position: -80px -192px; }
.tile.t198 { background-position: -96px -192px; }
.tile.t199 { background-position: -112px -192px; }
.tile.t200 { background-position: -128px -192px; }
.tile.t201 { background-position: -144px -192px; }
.tile.t202 { background-position: -160px -192px; }
.tile.t203 { background-position: -176px -192px; }
.tile.t204 { background-position: -192px -192px; }
.tile.t205 { background-position: -208px -192px; }
.tile.t206 { background-position: -224px -192px; }
.tile.t207 { background-position: -240px -192px; }
.tile.t208 { background-position: -0px -208px; }
.tile.t209 { background-position: -16px -208px; }
.tile.t210 { background-position: -32px -208px; }
.tile.t211 { background-position: -48px -208px; }
.tile.t212 { background-position: -64px -208px; }
.tile.t213 { background-position: -80px -208px; }
.tile.t214 { background-position: -96px -208px; }
.tile.t215 { background-position: -112px -208px; }
.tile.t216 { background-position: -128px -208px; }
.tile.t217 { background-position: -144px -208px; }
.tile.t218 { background-position: -160px -208px; }
.tile.t219 { background-position: -176px -208px; }
.tile.t220 { background-position: -192px -208px; }
.tile.t221 { background-position: -208px -208px; }
.tile.t222 { background-position: -224px -208px; }
.tile.t223 { background-position: -240px -208px; }
.tile.t224 { background-position: -0px -224px; }
.tile.t225 { background-position: -16px -224px; }
.tile.t226 { background-position: -32px -224px; }
.tile.t227 { background-position: -48px -224px; }
.tile.t228 { background-position: -64px -224px; }
.tile.t229 { background-position: -80px -224px; }
.tile.t230 { background-position: -96px -224px; }
.tile.t231 { background-position: -112px -224px; }
.tile.t232 { background-position: -128px -224px; }
.tile.t233 { background-position: -144px -224px; }
.tile.t234 { background-position: -160px -224px; }
.tile.t235 { background-position: -176px -224px; }
.tile.t236 { background-position: -192px -224px; }
.tile.t237 { background-position: -208px -224px; }
.tile.t238 { background-position: -224px -224px; }
.tile.t239 { background-position: -240px -224px; }
.tile.t240 { background-position: -0px -240px; }
.tile.t241 { background-position: -16px -240px; }
.tile.t242 { background-position: -32px -240px; }
.tile.t243 { background-position: -48px -240px; }
.tile.t244 { background-position: -64px -240px; }
.tile.t245 { background-position: -80px -240px; }
.tile.t246 { background-position: -96px -240px; }
.tile.t247 { background-position: -112px -240px; }
.tile.t248 { background-position: -128px -240px; }
.tile.t249 { background-position: -144px -240px; }
.tile.t250 { background-position: -160px -240px; }
.tile.t251 { background-position: -176px -240px; }
.tile.t252 { background-position: -192px -240px; }
.tile.t253 { background-position: -208px -240px; }
.tile.t254 { background-position: -224px -240px; }
.tile.t255 { background-position: -240px -240px; }
