@charset "UTF-8";

.tile {
    background-image: url("tiles.png");
    background-repeat: no-repeat;
}

.tile.t0 { background-position: -0px -0px; }
.tile.t1 { background-position: -32px -0px; }
.tile.t2 { background-position: -64px -0px; }
.tile.t3 { background-position: -96px -0px; }
.tile.t4 { background-position: -128px -0px; }
.tile.t5 { background-position: -160px -0px; }
.tile.t6 { background-position: -192px -0px; }
.tile.t7 { background-position: -224px -0px; }
.tile.t8 { background-position: -0px -32px; }
.tile.t9 { background-position: -32px -32px; }
.tile.t10 { background-position: -64px -32px; }
.tile.t11 { background-position: -96px -32px; }
.tile.t12 { background-position: -128px -32px; }
.tile.t13 { background-position: -160px -32px; }
.tile.t14 { background-position: -192px -32px; }
.tile.t15 { background-position: -224px -32px; }
.tile.t16 { background-position: -0px -64px; }
.tile.t17 { background-position: -32px -64px; }
.tile.t18 { background-position: -64px -64px; }
.tile.t19 { background-position: -96px -64px; }
.tile.t20 { background-position: -128px -64px; }
.tile.t21 { background-position: -160px -64px; }
.tile.t22 { background-position: -192px -64px; }
.tile.t23 { background-position: -224px -64px; }
.tile.t24 { background-position: -0px -96px; }
.tile.t25 { background-position: -32px -96px; }
.tile.t26 { background-position: -64px -96px; }
.tile.t27 { background-position: -96px -96px; }
.tile.t28 { background-position: -128px -96px; }
.tile.t29 { background-position: -160px -96px; }
.tile.t30 { background-position: -192px -96px; }
.tile.t31 { background-position: -224px -96px; }
.tile.t32 { background-position: -0px -128px; }
.tile.t33 { background-position: -32px -128px; }
.tile.t34 { background-position: -64px -128px; }
.tile.t35 { background-position: -96px -128px; }
.tile.t36 { background-position: -128px -128px; }
.tile.t37 { background-position: -160px -128px; }
.tile.t38 { background-position: -192px -128px; }
.tile.t39 { background-position: -224px -128px; }
.tile.t40 { background-position: -0px -160px; }
.tile.t41 { background-position: -32px -160px; }
.tile.t42 { background-position: -64px -160px; }
.tile.t43 { background-position: -96px -160px; }
.tile.t44 { background-position: -128px -160px; }
.tile.t45 { background-position: -160px -160px; }
.tile.t46 { background-position: -192px -160px; }
.tile.t47 { background-position: -224px -160px; }
.tile.t48 { background-position: -0px -192px; }
.tile.t49 { background-position: -32px -192px; }
.tile.t50 { background-position: -64px -192px; }
.tile.t51 { background-position: -96px -192px; }
.tile.t52 { background-position: -128px -192px; }
.tile.t53 { background-position: -160px -192px; }
.tile.t54 { background-position: -192px -192px; }
.tile.t55 { background-position: -224px -192px; }
.tile.t56 { background-position: -0px -224px; }
.tile.t57 { background-position: -32px -224px; }
.tile.t58 { background-position: -64px -224px; }
.tile.t59 { background-position: -96px -224px; }
.tile.t60 { background-position: -128px -224px; }
.tile.t61 { background-position: -160px -224px; }
.tile.t62 { background-position: -192px -224px; }
.tile.t63 { background-position: -224px -224px; }
.tile.t64 { background-position: -0px -256px; }
.tile.t65 { background-position: -32px -256px; }
.tile.t66 { background-position: -64px -256px; }
.tile.t67 { background-position: -96px -256px; }
.tile.t68 { background-position: -128px -256px; }
.tile.t69 { background-position: -160px -256px; }
.tile.t70 { background-position: -192px -256px; }
.tile.t71 { background-position: -224px -256px; }
